<div class="row">
    <div class="col-4">
        <div>
            <%= form_tag("/students", method: :get) do %>
                <div class="form-group">
                    <%= label_tag :course, 'Course' %>
                    <%= select_tag :course, options_for_select(Course.all.collect { |c| [ c.abbreviation, c.id ] }.unshift(["All", 0]), @selected_course), class: 'form-control' %>
                </div>

                <h1>Skills</h1>
                <% @skills.each do |skill| %>
                    <div class="form-group">
                        <%= label_tag :skill, skill.name %>
                        <%= check_box_tag 'skill_ids[]', skill.id, @selected_skills.include?(skill.id)%>
                    </div>
                <% end %>

                <%= submit_tag 'Apply' %>
            <% end %>
        </div>
    </div>

    <div class="col-8">
        <% @students.each do |student| %>
            <div>
                <%= image_tag student.img, size: '50', alt: student.first_name %>
            </div>

            <div>
                Full Name: <%= student.first_name %> <%= student.last_name %>
            </div>

            <div>
                Course: <%= student.course.title %>.
            </div>

            <div>
                Skills: <%= student.skills.map { |skill| skill.name }.join(', ') %>.
            </div>

            <%= link_to 'View Profile', student %>
        <% end %>
    </div>
</div>
