<div class="row">
    <div class="col-12 col-md-2 mb-4">
        <div>
            <%= form_tag("/students", method: :get) do %>
                <div class="form-group" style="max-width: 250px">
                    <h3> <%= label_tag :course, 'Course' %> </h3>
                    <%= select_tag :course, options_for_select(Course.all.collect { |c| [ c.abbreviation, c.id ] }.unshift(["All", 0]), @selected_course), class: 'form-control' %>
                </div>

                <h3>Skills</h3>
                <div class="skills-filter mb-2 border">
                    <% @skills.order(:name).each do |skill| %>
                        <div class="form-check">
                            <%= check_box_tag 'skill_ids[]', skill.id, @selected_skills.include?(skill.id), class: 'form-check-input' %>
                            <%= label_tag :skill, skill.name, style: 'font-size: 14px;', class: 'form-check-label' %>
                        </div>
                    <% end %>
                </div>

                <%= submit_tag 'Apply', class: 'mb-4', class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div>

    <div class="col-12 col-md-10 offset-xl-2 col-xl-6">
        <% @students.each do |student| %>
            <div class="card mb-3">
                <div class="row m-0">
                    <div class="col-4 p-0">
                        <%= image_tag student.avatar, alt: student.first_name, class: 'card-img-top student-index-img' %>
                    </div>
                    
                    <div class="col-8 text-center mt-2 p-2">
                        <h3 class="card-title"> <%= student.first_name %> <%= student.last_name %> </h3>

                        <div>
                            <h4> Course </h4>
                            <p class="card-text"> <%= student.course.title %> </p>
                        </div>

                        <div class="mb-2 mt-2">
                            <h4> Skills </h4>
                            <p class="card-text"> <%= student.skills.map { |skill| skill.name }.join(', ') %>. </p>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <h4> Summary </h4>
                    <p class="card-text"> <%= student.summary %> </p>
                </div>

                <%= link_to 'View Profile', student, class: 'p-2' %>
            </div>
        <% end %>
    </div>

    <div class="digg_pagination mt-4">
        <%= will_paginate @students, :container => false %>
    </div>
</div>
