<div>
    <%= image_tag @student.img, size: '50', alt: @student.first_name %>
</div>

<div>
    First Name: <%= @student.first_name %>
</div>

<div>
    Last Name: <%= @student.last_name %>
</div>

<%= link_to 'Back to All Students', students_path %>

<%= link_to "Edit", edit_student_path %>

<%= link_to "Delete", @student, method: :delete %>
<hr>