<div>
    <%= image_tag @student.img, size: '50', alt: @student.first_name %>
</div>

<div>
    Full Name: <%= @student.first_name %> <%= @student.last_name %>
</div>

<div>
    Course: <%= @student.course.title %>.
</div>

<div>
    Skills: <%= @student.skills.map { |skill| skill.name }.join(', ') %>.
</div>

<div>
    Summary: <p> <%= @student.summary %> </p>
<div>

<%= link_to 'Back to All Students', students_path %>

<hr>