<div>
    <%= image_tag @student.avatar, size: '120', alt: @student.first_name %>
</div>

<div>
    Full Name: <%= @student.first_name %> <%= @student.last_name %>
</div>

<div>
    Course: <%= @student.course.title %>.
</div>

<div>
    Skills: <%= @student.skills.map { |skill| skill.name }.join(', ') %>.
</div>

<div>
    Summary: <p> <%= @student.summary %> </p>
<div>

<div>
    Projects:
    <% @student.projects.each do |project| %>
        <div>
            <h4> <%= project.name %> </h4>
            <p> <%= project.description %> </p>
            <%= image_tag project.project_img, size: '250', alt: project.name %>
            <%= link_to "Check it out!", project.link, target: "_blank" %>
        <div>
    <% end %>
<div>

<%= link_to 'Back to All Students', students_path %>

<hr>