<div class="row">
    <div class="col-12 col-sm-6 col-md-4 offset-md-2">
        <h2>My Skills</h2>

        <div class="border skills-section" id="student-skills">
            <% @selected_skills.sort_by{ |skill| skill.name }.each do |skill| %>
            <p> 
                <%= skill.name %> <%= link_to remove_student_skill_path(:skill_id => skill.id), method: :delete, remote: true, class: 'remove-skill' do %>
                    <%= image_tag 'remove.svg', size: '12' %> 
                <% end %>
            </p>
            <% end %>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <h2>Available Skills</h2>

        <div class="border skills-section" id="available-skills">
            <% @unselected_skills.sort_by{ |skill| skill.name }.each do |skill| %>
            <p>
                <%= skill.name %> <%= link_to add_student_skill_path(:skill_id => skill.id), method: :patch, remote: true, class: 'add-skill' do %>
                    <%= image_tag 'add.svg', size: '12' %>
                <% end %>
            </p>
            <% end %>
        </div>
    </div>
</div>